<div class="panel panel-info">
	<div class="panel-heading">
		<a href="#" class="close" id="closeShow">X</a>
		<h4 class="panel-title">Hotels</h4>

	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<tr class="success">
				<th class="col-xs-3">Hotel Name</th>
				<th class="col-xs-3">Address</th>
				<th class="col-xs-3">City</th>
				<th class="col-xs-3">Price</th>
				<th class="col-xs-3">Action</th>
			</tr>
			<tbody id="hotelnames">
			</tbody>
		</table>
	</div>
</div>