
<div class="panel panel-info">
<div class="panel-heading ">
<a href="#" class="close" id="closereserve">X</a>
<h4 class = "panel-title">Reservation</h4>
</div>
<div class="panel-body ">
<table class="table table-striped">
<tr class = "success">
<th class="col-xs-3">Reservation Id</th>
<th class="col-xs-3">Hotel Name</th>
<th class="col-xs-3">Check In Date</th>
<th class="col-xs-3">Check Out Date</th>
<th class="col-xs-3">Email</th>
</tr>
<tbody id="reserved"></tbody>
</table>

</div>
</div>